<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="acoustic-task">
  <test name="test">
    <classes>
      <class name="tests.SearchResultTest"/>
	  <parameter name = "departureStation" value="Минск-Пассажирский"/>
      <parameter name = "arrivalStation" value="Молодечно"/>
	  <parameter name = "element" value="png"/>
    </classes>
  </test> <!-- SearchResultTest -->
</suite> <!-- SearchResultTest -->